 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Instrument Sans', sans-serif;
    color: black;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background: #f2f2f2;
    padding: 20px 40px;
    margin: 0 px;
    
    

}

.logo img{
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 70px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}

nav ul li:last-child a {
    border: 1px solid #000; 
    padding: 6px 12px;            
}

.subheader {
    background-color: #f2f2f2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 40px;
}

.subheader ul {
    display: flex;
    justify-content: center;
    gap: 130px;
    list-style: none;
    padding: 0;
}

.subheader ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.subheader ul li a:hover {
    color: #ff4500;
}